# https://github.com/pre-commit/pre-commit-hooks/blob/master/.pre-commit-config.yaml
# https://rednafi.github.io/digressions/python/2020/04/06/python-precommit.html
# manually run : pipenv run pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
    -   id: isort
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.19.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    -   id: flake8
        args:
            - "--max-line-length=100"
            - "--ignore=E203,E266,E501,W503,F403,F401,E402"
